<div class="container-fluid">
  <div class="row bg-dark mb-5">
    <h1 class="text-center text-white">Login</h1>
  </div>
  <div class="container d-flex justify-content-center">
    <div class="card">
      <div class="card-body px-5 bg-secondary rounded-1">
        <form
          [formGroup]="loginForm"
          method="post"
          (ngSubmit)="handleLogin(loginForm)"
        >
          <div class="mb-3 row">
            <label for="email" class="py-2 h4 text-white">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              autofocus
            />
          </div>
          <div class="mb-3 row">
            <label for="password" class="py-2 h4 text-white">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
            />
          </div>
          <div class="mt-4 d-flex justify-content-center">
            <button
              type="submit"
              [disabled]="loginForm.invalid"
              id="loginButton"
              class="btn btn-success btn-lg btn-block"
            >
              Login
            </button>
          </div>
          <!-- <div class="mt-4 d-flex justify-content-center">
            <button
              class="btn btn-success btn-lg btn-block"
              type="button"
              (click)="getInfo()"
            >
              Get Info
            </button>
          </div> -->
          <div class="mt-3 d-flex justify-content-center">
            <h5>
              Don't Have an account?
              <a routerLink="/signup" id="signupLink">Sign-up</a>
            </h5>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
