<div class="container">
  <div class="card">
    <h3 class="text-center">Add Book</h3>
    <div class="card-body px-lg-5 bg-dark rounded-1">
      <form
        method="post"
        [formGroup]="addBook"
        (ngSubmit)="handleAddBook(addBook)"
      >
        <div class="mb-1 row">
          <label for="enterId" class="py-2 h4 text-white">Book Id</label>
          <input
            type="number"
            class="form-control"
            id="enterId"
            formControlName="bookId"
          />
        </div>
        <div class="mb-1 row">
          <label for="enterName" class="py-2 h4 text-white">Book Name</label>
          <input
            type="text"
            class="form-control"
            id="enterName"
            formControlName="bookName"
          />
        </div>
        <div class="mb-1 row">
          <label for="enterAuthorName" class="py-2 h4 text-white"
            >Author Name</label
          >
          <input
            type="text"
            class="form-control"
            id="enterAuthorName"
            formControlName="authorName"
          />
        </div>
        <div class="mb-1 row">
          <label for="enterPrice" class="py-2 h4 text-white">Price</label>
          <input
            type="number"
            class="form-control"
            id="enterPrice"
            formControlName="price"
          />
        </div>
        <div class="mt-3 d-flex justify-content-center">
          <button
            class="btn btn-success btn-lg btn-block"
            type="submit"
            id="addButton"
            [disabled]="addBook.invalid || addBook.errors"
          >
            Add Book
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
