<app-header (books)="setBooks($event)"></app-header>
<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-lg-7 col-sm-6">
      <div class="container" *ngIf="!books.length">
        <p class="text-center mt-5">No books available</p>
      </div>
      <div
        class="container border border-2 border-secondary rounded-2 mt-3 mb-3"
        *ngFor="let book of books; let idx = index"
        [id]="'grid' + (idx + 1)"
      >
        <div class="row px-2 py-2">
          <div class="col-10">
            <strong>Book Name: </strong>{{ book.bookName | titlecase }} <br />
            <strong>Author Name: </strong>{{ book.authorName | titlecase }}
          </div>
          <div class="col-2">
            <button
              [id]="'edit ' + (idx + 1)"
              class="btn btn-info"
              (click)="editBook(book.bookId)"
            >
              <i class="bi bi-pencil-square"></i>
            </button>
          </div>
        </div>
        <div class="row px-2 py-2">
          <div class="col-10">
            <strong>Price: </strong
            >{{ book.price | currency : "INR" : "symbol" : ".0" }} / day
          </div>
          <div class="col-2">
            <button
              [id]="'delete ' + (idx + 1)"
              class="btn btn-danger"
              (click)="deleteBook(book.bookId)"
            >
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-sm-6" [ngSwitch]="currView">
      <div class="my-2">
        <button class="btn btn-primary mx-2" (click)="toggleAddUser()">
          Add User
        </button>
        <button class="btn btn-primary mx-2" (click)="toggleAddBook()">
          Add Book
        </button>
      </div>
      <app-add-users
        *ngSwitchCase="'addUser'"
        (book)="addBook($event)"
      ></app-add-users>
      <app-add-books
        *ngSwitchCase="'addBook'"
        (book)="addBook($event)"
      ></app-add-books>
      <app-edit-books
        (Book)="updateBook($event)"
        [book]="selectedBook"
        *ngSwitchDefault
      ></app-edit-books>
    </div>
  </div>
</div>
