<app-header (books)="setBooks($event)"></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="container" *ngIf="!books.length">
        <p class="text-center mt-5">No books available</p>
      </div>
      <div
        class="container border border-2 border-secondary rounded-2 mt-3 mb-3"
        *ngFor="let book of books"
      >
        <div class="row px-2 py-2">
          <div class="col-8">
            <strong>Book Name: </strong>{{ book.bookName | titlecase }} <br />
            <strong>Author Name: </strong>{{ book.authorName | titlecase }}
          </div>
          <div class="col-4 d-md-flex justify-content-md-end">
            <button
              class="btn btn-info"
              (click)="getBook(book.bookId)"
              [disabled]="lendBookIds.indexOf(book.bookId) != -1"
            >
              Get Book
            </button>
          </div>
        </div>
        <div class="row px-2 py-2">
          <div class="col-8">
            <strong>Price: </strong
            >{{ book.price | currency : "INR" : "symbol" : ".0" }} / day
          </div>
          <div class="col-4 d-md-flex justify-content-md-end">
            <button
              class="btn btn-danger"
              (click)="returnBook(book.bookId)"
              [disabled]="lendBookIds.indexOf(book.bookId) == -1"
            >
              Return Book
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6"><app-payment></app-payment></div>
  </div>
</div>
